@import-normalize;
*,
*::before,
*::after {
  box-sizing: border-box;
}


ul, ol, li {
  padding: 0;
}


body,h1,h2,h3,h4,p,ul,ol,li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(43, 37, 84);
  color: rgb(255, 255, 255);
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

}

img {
  max-width: 100%;
  display: block;
}

input,button,textarea,select {
  font: inherit;
}
/* ////////////////////////////////////// */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:not([class]) {
      padding: 5px 30px;
      border: 1px solid transparent;
      background-color: rgb(88, 88, 255);
      color: white;
      transition-duration: 300ms;
      margin-bottom: 10px;
}
  
    button:not([class]):hover {
      background-color: #2b2554;
      border-color: white;
      
      display: block;
    }
